html, body {
/*	background-color: #000;*/
	height: 100%;
}

td, th {
  padding: 5px;
}

#create {
  background: #efefef;
  margin: 10px;
  padding: 10px;
}

#cashflows li {
  margin: 5px;
  padding: 5px;
/*  border-style: dotted;
  border-width: 2px;  */
}

#right, #left {
  float: left;
  width: 48%;
  height: 95%;
/*  margin:*/
}

#choose, #current, #calculations {
  margin: 10px 10px;
  border: solid red 2px;
  padding: 5px;
  outline: red auto 2px;/**/
  overflow: auto;
  width: 95%;
  float: left;
}

#choose {
  height: 48%;
}

#current {
  height: 95%;
}

#calculations {
  height: 48%;
}

.unsavedchange {
  border: solid red 2px;
} 

.selected {
  background-color: #add8e6;
}
