html, body {
/*	background-color: #000;*/
	height: 100%;
}

td, th {
  padding: 5px;
}

#choose > *, #current > *, #calculations > * {
    margin: 10px;
}


#choose, #current, #calculations {
    margin: 20px;
    border: solid red 2px;
    padding: 5px;
}

#choose {
  float: left;
  width: 20%;
  height: 65%;
  margin: 2px 2px;
  outline: red auto 2px;/**/
}

/* Style for tabs */
#current {
    float: left;
    outline: red auto 2px;/**/
    width: 35%;
    height: 65%;
    margin: 2px 2px;
    overflow: auto;
}

#calculations {
  float: left;
  width: 35%;
  height: 65%;
  margin: 2px 2px;
  outline: red auto 2px;/**/
}

.redoutline {
  border: solid red 2px;
} 
