html, body {
  height: 100%;
}

/* get rid of browser default styles */
td, th {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

input {
  width: 100%;
}



#container {
  width: 960px;
  padding: 5px;
  height: 800px;
  margin: auto;
  border: solid red 2px;
}


/* styles for creating cashflows */

#choose, #calculations {
  height: 330px;
  float: left;
  width: 460px;
}

#current {
  clear: both;
  height: 430px;
  width: 940px;
}

#choose, #current, #calculations {
  overflow: auto;
  border: dotted gray 5px;
  padding: 5px;
}

#cashflows {
  overflow: auto;
  width: 200px;
  float: left;
}

#cashflowname, #newcashflow {
  width: 200px;
  float: right;
  margin: 5px;
}

#create {
  background: #efefef;
  margin: 10px;
  padding: 10px;
}


/* styles for tabular analysis results and pertrans editing */

#results, #pertrans {
  border: solid gray 2px;
  border-style: raised;
  margin: auto;
}

#results td, #results th {
  min-width: 80px;
  padding: 5px;
  border: solid black 1px;
}

#pertrans td, #pertrans th {
  width: 90px;
  padding: 5px;
  border: solid black 1px;
}

#pertrans input, #pertrans select {
  width: 80px;
}



.footer {
  clear: both;
}

.unsavedchange {
  border: solid red 2px;
}

.title {
  padding-bottom: 10px;
  margin: auto;
  font-size: 150%;
  color: #0000ff;
  text-align: center;
}
