html, body {
	width: 95%;
	height: 95%;
}

body > div {
	border: 2px solid gray;
	margin: 2px;
}

#messagehistory {
	height: 50%;
	overflow: auto;
}

.message {
	color: red;
}

#status {
	height: 30%;
	overflow: auto;
}

.success {
	color: green;
}

.failure {
	color: red;
}

.username, .time {
	margin: 2px;
	font-style: italic;
	font-size: 80%;
}

.time {
	color: blue;
}
