html, body {
	width: 95%;
	height: 95%;
}

#wrapper {
	width: 100%;
	height: 100%;
}

#wrapper, #wrapper > div {
	border: 2px solid black;
}

#main > div, #metainfo > div {
	border: 1px solid black;
}

#main {
	width: 65%;
	height: 100%;
	float: left;
	position: relative;
}

#metainfo {
	width: 30%;
	position: relative;
	height: 100%;
	float: right;
}

#footer {
	clear: both;
}

#messagehistory {
	position: absolute;
	top: 0;
	height: 70%;
	width: 96%;
	padding: 2%;
	overflow: auto;
}

#newmessage {
	position: absolute;
	bottom: 0;
	height: 20%;
	width: 100%;
}

.message {
	color: red;
}

#config {
	overflow: auto;
	height: 35%;
	width: 100%;
}

#config > * {
	padding: 5px;
}

#currentconfig {
	height: 15%;
	width: 100%;
	overflow: auto;
}

#status {
	height: 40%;
	width: 100%;
	overflow: auto;
	position: absolute;
	bottom: 0;
}

#togglestatus {
	display: block;
}

#currentconfig > div {
	color: blue;
	margin: 2px;
}

.success {
	color: green;
}

.failure {
	color: red;
}

.username, .time {
	margin: 2px;
	font-style: italic;
	font-size: 80%;
}

.time {
	color: blue;
}

#text {
	width: 50%;
	height: 80%;
}

